/~resources/
/.vagrant/
/.git/
/.vscode/
/tmp/cache/*
!/tmp/cache/.keep
/tmp/http/*
!/tmp/http/.keep
/tmp/twig/*
!/tmp/twig/.keep
/tmp/logs/*
!/tmp/logs/.keep
/app/config.php
/app/build.txt
/app/version.txt
/vendor
/web/upload/*
!/web/upload/.keep
/web/upload/logo/*
!/web/upload/logo/.keep
/phinx.yml

# Ignore trash-files
.idea
*.bak
*.tmp
*.swp
.DS_Store
.DS_Store?
*.old
*.new
._*
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
#*.sql
*.sqlite
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.~lock
.tags
.tags1
version.txt
.vscode
