{% extends "layout.twig" %}

{% block content %}
    <div class="page">
        <h1>Whoops</h1>
        <p>Ok, so this thing isn't here. If you think it really should, please <script>print_email('petr', 'trustworthy.biz', 'let me know');</script>.</p>
        <p><b>404</b></p>
        <hr>
        <p>Some useful information:</p>
        <pre class="break color-secondary">
        {{ blob }}
        </pre>
    </div>
{% endblock %}