{% extends "layout.twig" %}

{% block content %}
    <div class="page-header outer autoheight" id="index">
        <div class="row middle">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 inner">
                <h1 class="text-center">Is the new thing worth your time & money?</h1>
                <p class="lead text-center">Trustworthy.<span class="color-info">biz</span> is a <span title="Everyone can contribute" data-toggle="tooltip">crowdsourced</span> list of well established apps, websites and projects.</p>
                <p class="color-secondary text-center mobile-small">A lot of cool exciting startups pop up these days. Most of them die after few months. Check them out before you throw time, money and data at them.</p>
                <form>
                    <input autofocus class="form-control form-control-lg thing-autocomplete" type="text" placeholder="Search app, website, project or category 🔎">
                </form>
            </div>
            <div class="col-lg-12 text-center">
                <button class="btn btn-success hp-cta" onclick="window.location = '/things/';">
                    Explore things <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
      </div>                
{% endblock %}