{% extends "layout.twig" %}

{% block content %}
    <div class="page">
        <h1>Things
        {% if category is defined %}
        in {{ category['name'] }}
        {% endif %}
        </h1>
        <hr>
        <div class="row">
        {% for thing in things %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card border-light mb-3" style="max-width: 20rem;">
                {# <div class="card-header">Header</div> #}
                <div class="card-body">
                    <h4 class="card-title">{{ thing['name'] }}
                    {% if thing['img'] is defined %}
                    <img src="{{thing['img']}}">
                    {% endif %}
                    </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <hr>
        <p class="color-secondary text-right">Last updated: Just now</p>
    </div>
{% endblock %}