<footer class="bg-primary mobile-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled color-secondary">
                    <li class="pull-right"><a href="#" onclick="goto_top(); return false;">Back to top ↑</a></li>
                    <li>Made by <a href="https://www.petrnagy.cz">Petr Nagy</a></li>
                </ul>
                <hr>
                <p class="text-center color-secondary">
                    <script>print_email('petr', 'trustworthy.biz', 'Feedback')</script> | <a href="{{ helpUrl }}">Help</a> |  <a href="#">Terms</a> | <a href="/sitemap/">Sitemap</a>
                </p>
                <p class="text-center color-secondary">
                    <a href="#">Buy me a coffee ☕</a>
                </p>
                <hr>
                <p class="text-center color-secondary">
                    I like new things. I often try new things. When I like them, I buy them and use them daily.<br />
                    You know what happens next? They just s... <a href="#">continue&nbsp;<i class="fa fa-arrow-circle-o-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>